<!DOCTYPE html>
<html>
	<head>
		<title>Message Board</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>Hello</h1>
		<p>Welcome to the Message Board</p>
		<a href="/login">Login</a>
		<a href="/register">Sign Up</a>
	</body>
</html>
