<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<title>Document</title>
	</head>
	<body>
		<a href="/logout">Logout</a>
		<h1>HOME</h1>
		<% if(typeof messages !== null) {%>
		<ul class="list-unstyled">
			<% messages.forEach((message) => {%>
			<li class="p-2 border d-block w-25">
				<h5 class="p-1 pt-2"><%= message.message%></h5>
				<p class="fst-italic small p-1">
					<%= `${message.username} -${message.date.toLocaleDateString()}`%>
				</p>
			</li>
			<%})%>
		</ul>
		<%}%>
		<a href="/create-message">Write a Message</a>
	</body>
</html>
