<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Write a Message</h1>
    <form method="POST" action="/create-message">
			<div>
				<label for="message">Enter message:</label>
				<input id="message" type="text" name="message_field" />
			</div>
			<div><input type="submit" value="Submit Message" /></div>
	</body>
</html>
